html { /* TODO perhaps make the bg just #16191a ? */
  font-family: Arial;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}
body {
  border: 2px solid black;
}
nav {
  /* border: solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
}
h1, h2, p {
  font-variant: small-caps;
  background-color: #f0f0f0;
  width: fit-content;
  padding: 5px;
  /* animation: unblur 3s 1s 2s; */
}
.nav-left {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  background-color: #f0f0f0;
  padding: 1% 2%;
  vertical-align: middle;
  animation: color-change 30s infinite;
  /* border: solid 2px magenta; */
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
a:hover {
  color: #c0c0c0;
}
img {
  max-width: 30%;
}
a:active {
  color: #c0c0c0;
}
ul {
  display: flex;
  justify-content: space-evenly; 
  list-style: none;
}
ul a {
  background-color: #f0f0f0;
  padding: 1em;
}

li {
  /* border: 4px solid magenta; */
  margin: 0 0.6em;
  padding: 1em 0.5em;
}

header h1, p{
  /* border: 2px solid orange; */
  text-align: center;
  margin: 0.5em auto;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  max-width: 5%;
}

.text {
  /* border: 4px solid fuchsia; */
  padding: 0 10px;
  text-align: center;
}

.text h2 {
  margin: 0;
}

.text p {
  /* border: 2px solid yellow; */
  margin: 2% auto;
}

duck a {
  display: block;
}
.duckbg {
  z-index: 5;
}
#duck {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: none;
  position: relative;
  background-size: cover;
  transition: all 1s ease;
  transition-delay: 0.5s;
  /* border: dashed 6px red; */
}
#duck::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://video-images.vice.com/articles/6332102a0b7b1a0094ae5d64/lede/1664225689680-screen-shot-2022-09-26-at-45430-pm.png');
  background-size: cover;
  opacity: 0; /* Start with no opacity */
  pointer-events: none; /* Allow hover to pass through */
  z-index: -1; /* Place it behind the content */
  transition: opacity 1s ease; /* Transition opacity */
  transition-delay: 0.5s;
}
#duck:hover::after {
  opacity: 1;
}
#duck:hover, #duck:hover button {
  font-size: 1.6rem;
  background-size: cover;
  animation: color-change 5s infinite;
  transition: font-size 0.5 ease;
}
#duck h2, #duck p {
  background-color: #f0f0f0;
  transition: background-color 0.5s ease;
}
#duck button {
  background-color: #f0f0f0;
  transition: background-color 0.5s ease, font-size 0.5s ease;
  font-size: 1rem;
}
#duck:hover h2, #duck:hover p {
  background-color: black;
}
#duck:hover button, #duck:hover button p {
  background-color: black;
  border: none;
}
#duck:hover button:hover, #duck:hover button p:hover {
  background-color: #333333;
}
@keyframes color-change {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellowgreen; }
  42% { color: green}
  57% { color: skyblue}
  71% { color: blue}
  85% { color: purple}
  100% { color:red}
}
.duckimg {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 4px solid brown; */
  width: 20%;
  flex-shrink: 0; /* Prevent further shrinking of the div */
}

.duckimg img {
  display: block;
  max-width: 100% /* Adjust the width of the image */
}

#emergency {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  grid-gap: 3px;
  max-width: 35%;
  margin: 0 auto;
}

.grid-item {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1vw;
  background-color: white;
  text-align: center;
  aspect-ratio: 1 / 1;
  transition: background-color 0.3s, transform 0.3s;
}


.grid-item:hover {
  background-color: #444cf7;
  transform: scale(1.05);
}

.grid-item a {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
form {
  display: flex;
  flex-flow: column;
  width: 30%;
  padding: 2%;
}
form input {
  margin-bottom: 3%;
}
button {
  max-width: fit-content;
  margin-top: 2%;
  padding: 2% 8%;
  align-self: center;
  font-weight: bolder;
  background-color: #f0f0f0;
}
button:hover {
  color: #444cf7;
}